<ion-view view-title="Events">
    <ion-content class="span12">
        <ion-list>

            <div ng-repeat="event in events">
                <ion-item class="item-stable"
                          ng-click="toggleEvents(event)"
                          ng-class="{active: event.active}">
                    <i class="icon" ng-class="event.active ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{event.name}}
                </ion-item>
                <div ng-show="event.active">
                    {{event.registration.startDate}} - {{event.registration.endDate}}
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
