<ion-view view-title="Events">
    <ion-content class="span12">
        <ion-list>
            <ion-item ng-repeat="event in events">
                <div ng-click="expand('{{event.name}}')">{{event.name}}
                </div>
            </ion-item>

            <div ng-show="collapse">Registration start date:{{single.startDate}}<br>Registration start
                date:{{single.endDate}}<br>Event date :{{event.eventDate}}
            </div>
        </ion-list>
    </ion-content>
</ion-view>
